[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy ="*"
pandas = "*"
torch = "==1.8.1"
torchvision = "==0.9.1"
sklearn = "*"
matplotlib = "*"
opencv-python = "*"
torchsummary = "*"
seaborn = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
